@page
@model Rosd.Pages.Docs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doc.Id" />
            <div class="form-group">
                <label asp-for="Doc.Title" class="control-label"></label>
                <input asp-for="Doc.Title" class="form-control" />
                <span asp-validation-for="Doc.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doc.Ext" class="control-label"></label>
                <input asp-for="Doc.Ext" class="form-control" />
                <span asp-validation-for="Doc.Ext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doc.Date" class="control-label"></label>
                <input asp-for="Doc.Date" class="form-control" />
                <span asp-validation-for="Doc.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doc.Hash" class="control-label"></label>
                <input asp-for="Doc.Hash" class="form-control" />
                <span asp-validation-for="Doc.Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doc.Content" class="control-label"></label>
                <input asp-for="Doc.Content" class="form-control" />
                <span asp-validation-for="Doc.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doc.Note" class="control-label"></label>
                <input asp-for="Doc.Note" class="form-control" />
                <span asp-validation-for="Doc.Note" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Doc.IsDeleted" /> @Html.DisplayNameFor(model => model.Doc.IsDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Doc.IsPriority" /> @Html.DisplayNameFor(model => model.Doc.IsPriority)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Doc.IsSecured" /> @Html.DisplayNameFor(model => model.Doc.IsSecured)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Doc.IsCompessed" /> @Html.DisplayNameFor(model => model.Doc.IsCompessed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Doc.IsArchive" /> @Html.DisplayNameFor(model => model.Doc.IsArchive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Doc.IsContainer" /> @Html.DisplayNameFor(model => model.Doc.IsContainer)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
